server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/trade_ingestion
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate.format_sql: true
